<h1>Contacts</h1>
<h2>List of all contacts:</h2>
<ul>
<% @contacts.each do |contact| %>
  <li> <%= contact.full_details %> </li>
<% end %>
</ul>
<a href='/'>Link to home page</a><br>
<a href='about'>Link to about page</a>
