* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  font-family: Arial, Helvetica;
  line-height: 1.5;
}

main {
    padding: .5em;
}

header {
  color: white;
  background-color: black;
  text-align: center;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bolder;
}

main {
  max-width: 800px;
  margin: auto;
}

nav {
  display: block;
  color: white;
  background-color: #d3d3d3;
  margin-bottom: 5px;
}

nav a {
  display: block;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  padding: 5px;
  margin: 1px auto;
  border-bottom: 5px solid white;
}

nav a:hover {
  color: black;
}

h1 {
  font-size: 30px;
  padding: 5px;
  margin-bottom: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
  margin: auto;
}

ul li {
  border-bottom: 10px solid white;
  color: black;
  background-color: #40e0d0;
  padding: 15px;
  font-weight: bolder;
  font-size: 20px;
}

ul li:hover {
  background-color: #3a9188;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

p {
  margin: 0 1.1em;
}

h3 {
  margin: 0 0.9em;
}

.button {
  width: 100%;
  background-color: #40e0d0;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

.button:hover {
  background-color: #3a9188;
}

.button_half_left {
  width: 50%;
  float: left;
  border-right: 2px solid white;
  border-bottom: 4px solid white;
  background-color: #40e0d0;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

.button_half_right {
  width: 50%;
  float: right;
  margin-right: 2;
  border-left: 2px solid white;
  border-bottom: 4px solid white;
  background-color: #40e0d0;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}
.button_half_left:hover {
  background-color: #3a9188;
}

.button_half_right:hover {
  background-color: #3a9188;
}

input[type=submit] {
  width: 100%;
  background-color: #40e0d0;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  border: none;
}

input[type=submit]:hover {
  background-color: #3a9188;
}

input[type=text], input[type=textarea] {
  width: 100%;
  padding: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin: 5px 0;
}

label {
  font-weight: bolder;
}

.red_bar {
  border-bottom: 10px solid white;
  color: black;
  background-color: #fa8072;
  padding: 15px;
  font-weight: bolder;
  font-size: 20px;
}

strong {
    text-decoration: underline;
    text-decoration-color: #40e0d0;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  margin-bottom: 15px;
}
